<html>
    <head>
        <meta charset="UTF-8">
        <link
      rel="stylesheet"
      href="../static/styles/main.css"
    />
    </head>

    <body>
        <div class="containercenter">
            <form class="formcentered" action="/search" method = "POST">
                <div class="formcentered">
                    <label for="search">Search </label>
                    <input type="text" name="search" id="search" placeholder="Search for your music"/>
                </div>
                <input type="submit" value="send"/>
            </form>
        </div>

    </body>
</html>