{% include 'header.html' %}
{% include 'nav.html' %}

<body>
    <div class="loginimage"></div>
    <div class="containercenter">
        <h1>Register</h1>
        <br><br><br><br>
        <form class="formcentered" action="/register" method="POST">
            <div class="formcentered">
                <label for="username">Username </label>
                <input type="text" name="username" id="username" placeholder="Type username" />
            </div>
            <br>
            <div class="formcentered">
                <label for="password">Password </label>
                <input type="password" name="password" id="password" placeholder="Type password" />
            </div>
            <br>
            <input type="submit" value="Create Account" class="register" />
        </form>
        <br><br><br>
        <h6 class="notregistered">Already registered?</h6>
        <a class="redirectionbutton" href="/register">Login!</a>
    </div>
    {% include 'footer.html' %}