{% include 'header.html' %}
{% include 'nav_logged_in.html' %}


<body>
    <div class="searchimage"></div>
    <div class="containersearch">
        <h1>Search</h1>
        <br><br><br>
        <form class="formsearch" action="/search" method="POST">
            <div class="formsearch">
                <input type="text" name="search" id="search" placeholder="Search for your music/movie/podcast" />
            </div>
            <input type="submit" value="Search" class="search" />
        </form>
    </div>

    {% include 'footer.html' %}
